.haf-content {
	flow-into: haf-content contents;
}

.haf-region {
	flow-from: haf-content;
}

.haf-hide {
	display: none;
}

.haf-column {
	display: flex;
	flex-direction: column;
}

@media print {
	@page {
		margin: 0;
		size: letter portrait;
		width: 8.5in;
		height: 11in;
	}
	
	html, body {
		margin: 0;
	}
}